.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 20vw;
    min-width: 13rem;
    min-height: 15rem;
    background-color: #fff;
    border-radius: 15px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.modal-header {
    height: 2.5rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.modal-header .modal-title {
    font-weight: 500;
    letter-spacing: 0.1em;
}
.modal-header .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.4rem;
    cursor: pointer;
}
.modal-body {
    margin-top: 30px;
    height: 100%;
    place-content: center;
}
.modal-body form {
    width: 100%;
}
.input__copy {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.input__copy input {
    border: 1px solid lightgray;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.input__copy span {
    padding: 8px;
    background-color: burlywood;
    width: 50px;
    height: 20px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    color: #fff;
    text-align: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons button {
    text-transform: unset;
    width: 150px;
    border-radius: 5px;
    height: 30px;
}
.buttons button:first-child {
    border: 1px solid burlywood;
    color: burlywood;
}
.buttons button:last-child {
    color: dimgray;
}

/* For Bigger Screens  */
@media screen and (min-width: 768px) {
    .input__copy {
        width: 60%;
        margin: auto;
    }
    .buttons {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: unset;
    }
    .buttons button {
        width: auto;
        margin: auto;
    }
}

@media screen and (min-width:992px) {
    .buttons {
        width: 50%;
        margin: auto;
    }
}